<a href="https://colab.research.google.com/github/LiaDahlia/UTS-Machine-Learning/blob/main/UTS_Machine_Learning_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
path_="/content/drive/My Drive/Machine Learning/corn_price.csv"
dataset=pd.read_csv(path_)
dataset

           Date ;Price
2015-01-04   5.213650;
2015-01-11   5.181300;
2015-01-18   5.009220;
2015-01-25   5.006000;
2015-02-01   4.870800;
...                ...
2017-09-03   3.512500;
2017-09-10   3.569000;
2017-09-17   3.542500;
2017-09-24   3.507000;
2017-10-01   3.530000;

[144 rows x 1 columns]

In [15]:
dataset.head()

           Date ;Price
2015-01-04   5.213650;
2015-01-11   5.181300;
2015-01-18   5.009220;
2015-01-25   5.006000;
2015-02-01   4.870800;

In [16]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.scatter(dataset['Date'])

KeyError: ignored

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.scatter(dataset['City'],dataset['Gender'],dataset['Age'])